<!DOCTYPE HTML>
<html>
	<head>
		<title>Jayanth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="container">
		<img src="static/images/photo_2022-01-22_10-39-39.jpg" alt="jayanth img"/>
		<h1>Jayanth</h1>
		<hr/>
		<p>Senior Web developer</p>
	</div>
	<p class="caption">@jayanth | Design HTML</p>
	</body>
</html>