/oop-coffee-machine-start/__pycache__
/guess_number_of_follower/__pycache__
/game/__pycache__
/quiz-game/__pycache__
/day 20/__pycache__
/day 22/__pycache__
/car-game/__pycache__
/quizzler-app/__pycache__
/rain-alert/.env
/stock-news-extrahard-start/.env
/habit-tracker/.env
/workout-tracking/.env
/flight-deals-start/__pycache__
/flight-deals-start/.env
/top-playlist-songs/.env
/top-playlist-songs/.cache
/amazon-price-tracking/.env